<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Orders Listing</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h2>Orders</h2>
            <table class="data-orders-js" >
        <tr>
            <th>Id</th>
            <th>Customer Name</th>
            <th>Food Name</th>
            <th>Order Status</th> 
            <th>Price</th>
            <th>Quantity</th> 
            <th>Total Price</th> 
            <th>Date</th>
        </tr>
    </table>
        <a href="/">Home</a>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">

//        $("#fetchContacts").bind("click", function() {

            $.get("http://localhost:9091/orders", function(data) {

                $.each(data, function(i, order) {

                    $(".data-orders-js").append(
                        "<tr><td>" + order.id + "</td>" +
                        "<td>" + order.cust + "</td>" +
                        "<td>" + order.name + "</td>" +
                        "<td>" + order.orderStatus + "</td>" +
                        "<td>" + order.price + "</td>" +
                        "<td>" + order.quantity + "</td>" +
                        "<td>" + order.tprice + "</td>" +
                        "<td>" + order.date + "</td>" 
                        );
                });

            });
//         });
    </script>
    </body>
</html>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffe4c4;
}
</style>
